daemonset:
  filebeatConfig:
    filebeat.yml: |
      filebeat.inputs:
      - type: container
        paths:
          - /var/log/containers/*.log
        processors:
          - add_kubernetes_metadata:
              host: ${NODE_NAME}
              matchers:
              - logs_path:
                  logs_path: "/var/log/containers/"

      output.logstash:
        hosts: ["logstash-logstash-headless:5044"]

# Recursos para evitar consumo desenfreado no nó
resources:
  requests:
    cpu: "200m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

# Probes para garantir que o agente de coleta está operando
livenessProbe:
  exec:
    command:
      - filebeat
      - test
      - output
  initialDelaySeconds: 60
  periodSeconds: 20
  timeoutSeconds: 5

readinessProbe:
  exec:
    command:
      - filebeat
      - test
      - output
  initialDelaySeconds: 20
  periodSeconds: 10
  timeoutSeconds: 5