# Configuração do Pipeline Logstash
logstashConfig:
  logstash.yml: |
    http.host: "0.0.0.0"
    xpack.monitoring.enabled: false

# Definição do pipeline de processamento de logs da aplicação
logstashPipeline:
  logstash.conf: |
    input {
      beats { port => 5044 }
    }
    filter {
      if [container][name] == "sre-app" {
        grok {
          match => { "message" => "%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} %{URIPATHPARAM:endpoint} latency=%{NUMBER:latency:float}ms" }
        }
        date {
          match => [ "timestamp", "ISO8601" ]
          target => "@timestamp"
        }
      }
    }
    output {
      elasticsearch {
        hosts => ["https://elasticsearch-master:9200"]
        user => "${ELASTICSEARCH_USERNAME}"
        password => "${ELASTICSEARCH_PASSWORD}"
        ssl => true
        cacert => "/usr/share/logstash/config/certs/ca.crt"
        index => "app-logs-staging-%{+YYYY.MM.dd}"
      }
    }

resources:
  requests:
    cpu: "100m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

livenessProbe:
  httpGet:
    path: "/"
    port: 9600
  initialDelaySeconds: 60
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: "/"
    port: 9600
  initialDelaySeconds: 60
  periodSeconds: 10

extraEnvs:
  - name: ELASTICSEARCH_USERNAME
    valueFrom:
      secretKeyRef:
        name: elasticsearch-master-credentials
        key: username

  - name: ELASTICSEARCH_PASSWORD
    valueFrom:
      secretKeyRef:
        name: elasticsearch-master-credentials
        key: password